.leagueCarousel {
  display: flex;
}

.leftArrow {
  padding: 2.375rem 1.5rem;
  margin-right: 1rem;
  background-color: #282b35;
  border-radius: 0px 16px 16px 0px;
  align-self: center;
  border: 0;
}

.rightArrow {
  padding: 2.375rem 1.5rem;
  margin-left: 1rem;
  background-color: #282b35;
  border-radius: 16px 0px 0px 16px;
  align-self: center;
  border: 0;
}
