.detail {
  display: grid;
  grid-template-areas: "name name name name" "position divider team .";
  grid-template-columns: auto auto auto 2fr;
  row-gap: 0.625rem;
  width: 100%;
}

.detailWithRule {
  grid-template-areas: "name name name name" "position divider team ." "rule rule rule rule";
}

.name {
  grid-area: name;
  color: #eaeaea;
}

.position {
  grid-area: position;
}

.nflTeam {
  grid-area: team;
}

.divider {
  grid-area: divider;
  align-self: center;
}

.horizontalRule {
  grid-area: rule;
  margin-bottom: 0.625rem;
}
