.content {
  display: flex;
  background-color: #3a28a7;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.divider {
  height: 71px;
  border-width: 1px;
  border-left: 0px;
  border-color: #5e49dc;
  margin: 0 2.25rem;
}
