.text {
  color: #ffffff;
  display: grid;
  grid-template: "badge number" "text text";
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  align-items: center;
}

.badge {
  grid-area: badge;
  justify-self: end;
}

.number {
  grid-area: number;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
}

.textItem {
  grid-area: text;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.009375rem;
}
