.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: all 0.5s;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.carouselItem {
  transition: opacity 0.5s ease-in-out;
  flex-shrink: 0;
}

.disappear {
  opacity: 0;
}
