.content {
  height: 100vh;
  background-color: var(--background-color);
  overflow: auto;
}

.container {
  margin: 1rem var(--content-spacing) 0;
  color: #eaeaea;
}

.header {
  margin-bottom: 1.625rem;
}

.summary {
  margin-top: 1.25rem;
}

.detailTitle {
  font-weight: 700;
  font-size: 0.875em;
  margin: 2rem 0 1rem;
}
