.container {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 1rem 0;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.navigation {
  flex-basis: 22%;
}

.navigationList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.title {
  font-size: 2.4375rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.title span {
  color: #f26506;
}

.menuTitle {
  color: #fa7820;
  margin: 0;
  font-size: 1.25rem;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
  align-items: stretch;
  margin: 1rem 0;
}

.description {
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
}

.inputUsername {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgb(46, 46, 46);
  outline: none;
}

.inputUsername:focus {
  border: 2px solid #0073cd;
}

.inputUsernameError {
  border-color: #e30202;
}

.errorMessage {
  color: #e30202;
  padding-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}

.button {
  background-color: #fa7820;
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 0;
  color: white;
  font-weight: bold;
  outline: none;
}

.illustration {
  flex-grow: 1;
}

.inputArea {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 540px) {
  .navigation {
    flex-basis: 16%;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.85rem;
  }

  .description {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .navigation {
    flex-basis: 12%;
  }
}

@media screen and (min-width: 1025px) {
  .content {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 10% auto auto 15%;
    grid-template-areas: ". ." "title image" "input image" ". .";
    column-gap: 10%;
  }

  .titleArea {
    grid-area: title;
  }

  .inputArea {
    grid-area: input;
  }

  .illustration {
    grid-area: image;
    place-self: stretch;
  }

  .navigation {
    flex-basis: 9%;
  }
}
