.leagueCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #3a28a7;
  align-items: center;
  border-radius: 16px;
  text-align: center;
}

.leagueImage {
  max-width: 2rem;
  margin-bottom: 0.5rem;
}

.leagueName {
  color: #fff;
  font-weight: 900;
  margin-bottom: 0.25rem;
}

.leagueDetails {
  color: #fff;
}
