@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: #1f2027;
  --content-spacing: 1.5rem;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 0;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 16px;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #25262e;
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background-color: #5a5c68;
  }
}
